<div class="conatiner-fluid"><br><br>
    <div>
        <h1 style="text-align: center;">Indoor Plants</h1><br>
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <a href=""><img src="assets/image/ahome1.png" class="card-img-top" alt="..."></a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <a href=""><img src="assets/image/ahome9.png" class="card-img-top" alt="..."></a>
                </div>

            </div>
            <div class="col-md-3">
                <div class="card">
                    <a href=""><img src="assets/image/ahome3.png" class="card-img-top" alt="..."></a>
                </div>

            </div>
            <div class="col-md-3">
                <div class="card">
                    <a href=""><img src="assets/image/ahome4.png" class="card-img-top" alt="..."></a>
                </div>

            </div>

        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <a href=""><img src="assets/image/ahome5.png" class="card-img-top" alt="..."></a>
                </div>

            </div>
            <div class="col-md-3">
                <div class="card">
                    <a href=""><img src="assets/image/ahome6.png" class="card-img-top" alt="..."></a>
                </div>

            </div>
            <div class="col-md-3">
                <div class="card">
                    <a href=""><img src="assets/image/ahome7.png" class="card-img-top" alt="..."></a>
                </div>

            </div>
            <div class="col-md-3">
                <div class="card">
                    <a href=""><img src="assets/image/ahome8.png" class="card-img-top" alt="..."></a>
                </div>

            </div>

        </div>
    </div>
</div>
